*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 10px 0;
    background-color: red;
}

nav{
    padding: 10px 0;
    background-color: black;
    padding-left: 50px;
}

aside{
    margin-top: 2px;
    height: 500px;
    width: 30%;
    float: left;
    background-color: yellow;
    text-align: center;
    padding-top: 250px;
    font-size: 30px;
}

section{
    float : right;
    height: 500px;
    width: 70%;
    background-color: greenyellow;
    text-align: center;
    padding-top: 250px;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 2px;

}

footer{
    text-align: center;
    background-color: aqua;
    clear: both; /* clear both is used to remove the effect of float */
    padding: 10px;
}